.accordion__item p {
  display: none;
}

.accordion__item--opened p {
  display: block;
}

.accordion__item--opened .accordion__toggler {
  transform: rotate(0);
}

.accordion__item .filter__list {
  display: none;
}

.accordion__item--opened .filter__list {
  display: block;
}

.accordion__toggler {
  position: absolute;
  width: 20px;
  height: 15px;
  border: none;
  background: none;
  background-image: url("..//img/icons/arrow-top.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);

  &:hover {
    transform: rotate(270deg);
  }

  @media (max-width: $tablet-width) {
    width: 23px;
    right: 49px;
    background-size: cover;
  }
}
