.catalog {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 133px;
    left: 0;
    right: 0;
    background-color: $border;
  }
}

.header__logo-catalog svg {
  &:hover,
  &:focus {
    color: $black;
  }
}

.catalog .slider__wrapper {
  padding: 0;
}

.catalog__center {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 50px;
}

.catalog .slider__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 42px;
  padding: 0;
  margin: 0 0 72px;
}

.catalog .swiper-slide {
  margin: 0;
}

.catalog .slider {
  padding: 78px 0 74px;
}

.catalog .slider__prev,
.catalog .slider__next {
  position: static;
  color: inherit;
}

.catalog__intro {
  background-image: url("../img/backgrounds/catalog.jpg");
  min-height: 261px;
  padding: 16px 0 20px;

  @media (min-resolution: $dpi), (min-resolution: $dppx) {
    background-image: url("../img/backgrounds/catalog@2x.jpg");
  }
  // @media (max-width: $tablet-width) {
  //   background-image: url("../img/backgrounds/intro-tablet.jpg");
  //   background-position: 50%;
  //   @media (min-resolution: $dpi), (min-resolution: $dppx) {
  //     background-image: url("../img/backgrounds/intro-tablet@2x.jpg");
  //   }
  // }
  // @media (max-width: $mobile-width) {
  //   background-image: url("../img/backgrounds/intro-mobile.jpg");
  //   @media (min-resolution: $dpi), (min-resolution: $dppx) {
  //     background-image: url("../img/backgrounds/intro-mobile@2x.jpg");
  //   }
  // }
}

.catalog__intro h1 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0;

  @media (max-width: $tablet-width) {
    line-height: 55px;
    margin: 0 16px 0 0;

    @media (max-width: $mobile-width) {
      font-size: 38px;
      color: $white;
      line-height: 49px;
      margin: 0 16px 0 0;
    }
  }
}

.catalog__intro p {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    line-height: 43px;
    margin: 0 20px 0 0;
  }

  @media (max-width: $mobile-width) {
    line-height: 44px;
    font-size: 34px;
    margin: 0 20px 0 0;
  }
}

.catalog__slider.slider img{
  height: 270px;
}
