.catalog {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 133px;
    left: 0;
    right: 0;
    background-color: $border;
  }

  @media (max-width: $mobile-width) {
    &::after {
      position: static;
    }
  }
}

.catalog .slider__wrapper {
  padding: 0;
}

.catalog__center {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 50px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 50px;
    padding: 50px 45px 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 377px;
    padding: 40px 15px 0;
    row-gap: 40px;
  }
}

.catalog .slider__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  padding: 0;
  margin: 0 0 72px;

  @media (max-width: $tablet-width) {
    row-gap: 30px;
    margin: 0 0 63px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 44px;
  }
}

.catalog .swiper-slide {
  margin: 0;
}

.catalog .slider {
  padding: 78px 0 74px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 0 74px;
  }

  @media (max-width: $mobile-width) {
    max-width: 377px;
    margin: auto;
    padding: 0 0 64px;
  }
}

.catalog .slider__prev,
.catalog .slider__next {
  position: static;
  color: inherit;
}

.catalog__intro {
  min-height: 261px;
  background-image: url("../img/backgrounds/catalog.jpg");
  padding: 16px 20px 20px;

  @media (min-resolution: $dpi), (min-resolution: $dppx) {
    background-image: url("../img/backgrounds/catalog@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/backgrounds/catalog-tablet.jpg");
    background-position: 50%;

    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/backgrounds/catalog-tablet.jpg@2x.jpg");
    }
  }
}

.catalog__intro h1 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0;

  @media (max-width: $tablet-width) {
    line-height: 39px;
    margin: 11px 0 0 0;

    @media (max-width: $mobile-width) {
      font-size: 34px;
      color: $white;
      line-height: 44px;
      margin: 0;
    }
  }
}

.catalog__intro p {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    line-height: 43px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
  }
}

.catalog__slider.slider img {
  width: 270px;
  height: 272px;
  min-width: 100%;
  max-width: 100%;

  @media (max-width: $tablet-width) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}
