.catalog {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 133px;
    left: 0;
    right: 0;
    background-color: $border;
  }

  @media (max-width: $mobile-width) {
    &::after {
      position: static;
    }
  }
}

.catalog__intro h1 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0;

  @media (max-width: $tablet-width) {
    line-height: 39px;
    margin: 11px 0 0 0;

    @media (max-width: $mobile-width) {
      font-size: 34px;
      color: $white;
      line-height: 44px;
      margin: 0;
    }
  }
}

.catalog__intro p {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    line-height: 43px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
  }
}

.catalog__center {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 250px minmax(667px, 875px);
  column-gap: 50px;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 50px 45px 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 377px;
    padding: 40px 15px 0;
    row-gap: 40px;
  }
}

.catalog .slider {
  padding: 78px 0 74px;
  width: 100%;

  @media (max-width: $tablet-width) {
    // width: 100%;
    padding: 0 0 74px;
  }

  @media (max-width: $mobile-width) {
    max-width: 377px;
    margin: auto;
    padding: 0 0 64px;
  }
}

//swiper-container
.catalog .slider__wrapper {
  padding: 0;
  width: 100%;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;

  // width: 865px;
}

// swiper-wrapper
.catalog__list.slider__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 67px;
  padding: 49px 0 0;
  height: 1466px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    height: 1210px;
    // margin: 0 0 63px;
  }

  @media (max-width: $mobile-width) {
    height: 1439px;
    // margin: 0 0 44px;
  }
}

// swiper-slide
.catalog__list.slider__list .swiper-slide {
  margin: 0;
  text-align: center;
  height: calc((100% - 90px) / 4);

  @media (max-width: $tablet-width) {
    // min-width: 206px;

  }
}

.catalog .slider__prev,
.catalog .slider__next {
  position: static;
  color: inherit;
}

.catalog__intro {
  min-height: 261px;
  background-image: url("../img/backgrounds/catalog.jpg");
  padding: 16px 20px 20px;

  @media (min-resolution: $dpi), (min-resolution: $dppx) {
    background-image: url("../img/backgrounds/catalog@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/backgrounds/catalog-tablet.jpg");
    background-position: 50%;

    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/backgrounds/catalog-tablet.jpg@2x.jpg");
    }
  }
}


.catalog__slider {
  width: 100%;
  margin: 0;
}

.catalog__list.slider__list img {
  @media (max-width: $tablet-width) {
    width: 206px;
    height: 208px;
    min-width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}
