.center {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $desktop-width) {
    padding: 0 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}
