.filter__form {
  padding: 50px 0 20px;
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.filter__fieldset {
  position: relative;
  padding: 50px 0 0;
  margin: 0;
  border: 1px solid $brown;
}

.filter__fieldset:not(:last-of-type) {
  border-bottom: 0;
}

.filter__fieldset legend {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__item {
  padding: 0 0 0 34px;
}

.filter__item input:checked + label {
  &::before {
    background-color: $brown;
  }
}

.filter__item input:hover + label,
.filter__item input:focus + label {
  &::before {
    border-color: $black;
  }
}

.filter__item label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: $white;
    border: 1px solid $brown;
  }
}

.filter__button {
  display: block;
  border: none;
  background: none;
  text-align: center;
  width: 100%;
  padding: 16px 6px;
  font-size: 16px;

  &--apply {
    background-color: $brown;
    margin: 35px 0;
  }

  &--clear {
    border: 1px solid $brown;
  }
}
