.filter__form {
  font-family: $font-family--description;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 80px 0 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.filter--open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  z-index: 100;
  overflow-y: auto;

  @media (max-width: $mobile-width) {
    padding: 76px 25px 60px;
  }
}

.filter--open .filter__form {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  width: 424px;
  top: 27px;
  left: 0;
  display: block;
  box-shadow: 0 5px 32px $shadow-filter;
  padding: 0 0 50px;

  @media (max-width: $mobile-width) {
    position: static;
    width: 270px;
    margin: 0 auto;
    padding: 0 0 40px 0;
  }
}

.filter__form fieldset {
  position: relative;
  padding: 50px 0 15px;
  margin: 0;
  min-height: 67px;
}

.filter--open fieldset {
  border: 1px solid $white;
  padding: 62px 0 19px;
  min-height: 92px;

  @media (max-width: $mobile-width) {
    padding: 52px 0 10px;
    min-height: 72px;
  }
}

.filter__form fieldset:not(:last-of-type) {
  border-bottom: 0;
}

.filter--open fieldset:not(:last-of-type),
.filter--open fieldset {
  border-bottom: 1px solid $brown;
}

.filter__form legend {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: 22px;
  left: 25px;
}

.filter--open legend {
  font-size: 18px;
  line-height: 23px;
  top: 33px;
  left: 21px;

  @media (max-width: $mobile-width) {
    top: 23px;
  }
}

.filter__form .accordion__toggler {
  top: 25px;
  right: 21px;

  @media (max-width: $mobile-width) {
    top: 21px;
    right: 22px;
  }
}

.filter--open .accordion__toggler {
  top: 37px;
  right: 40px;

  @media (max-width: $mobile-width) {
    top: 27px;
    right: 17px;
  }
}

.filter__list {
  margin: 0;
  padding: 18px 0 0;
  list-style: none;
}

.filter__form .range {
  padding: 12px 0 0;
}

.filter--open .range {
  padding: 18px 0 0;
}

.filter__item {
  padding: 0 0 0 34px;
  margin: 0 0 12px;
}

.filter--open .filter__item {
  padding: 0 0 0 30px;
  margin: 0 0 16px;
}

.filter__item input:checked + label {
  &::before {
    background-color: $brown;
  }
}

.filter__item input:focus + label {
  outline: 1px solid $grey;

  &::before {
    border-color: $grey;
  }
}

.filter__item input:hover + label {
  color: $grey;
}

.filter__item label {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  padding: 0 0 0 26px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 1px;
    left: 0;
    background-color: $white;
    border: 1px solid $brown;
  }
}

.filter--open label {
  vertical-align: middle;
  padding: 0 0 0 30px;

  &::before {
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
  }
}

.filter__button {
  display: block;
  border: none;
  background: none;
  text-align: center;
  width: 100%;
  padding: 24px 6px;
  font-size: 16px;

  &--apply {
    background-color: $brown;
    margin: 35px 0 24px;

    &:hover {
      transform: scale(1.03);
    }
  }

  &--clear {
    border: 1px solid $brown;

    &:hover {
      transform: scale(1.03);
    }
  }

  &--tablet {
    display: none;
  }

  @media (max-width: $tablet-width) {
    &--tablet {
      font-family: $font-family--description;
      line-height: 21px;
      color: $white;
      background-color: $brown;
      display: block;
      padding: 24px 6px;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.filter--open .filter__button--apply {
  width: 362px;
  margin: 39px 23px 23px 22px;

  @media (max-width: $mobile-width) {
    width: 230px;
    margin: 27px auto 19px;
  }
}

.filter--open .filter__button--clear {
  width: 362px;
  margin: 0 23px 0 22px;

  @media (max-width: $mobile-width) {
    width: 230px;
    margin: 0 auto 0;
  }
}

.filter__button-close {
  display: none;
}

.filter--open .filter__button-close {
  display: block;
  position: absolute;
  top: -17px;
  right: -21px;
  border: none;
  background: none;

  @media (max-width: $mobile-width) {
    top: 59px;
    right: 8px;
  }
}

.filter--open .filter__button--tablet {
  display: none;
}

.filter--open .range__toggle {
  width: 18px;
  height: 18px;
}

.filter--open .range__controls {
  width: 304px;
  margin: 0 0 5px 30px;

  @media (max-width: $mobile-width) {
    width: 250px;
    margin: 0 0 5px 9px;
  }
}

.filter--open .range__scale {
  width: 100%;
}

.filter--open .range__bar {
  width: 58%;
}

.filter--open .range__toggle--min {
  left: 15%;
}

.filter--open .range__toggle--max {
  left: 73%;
}

.filter--open .range__price-controls {
  padding: 0 132px 0 29px;
  margin: 0 0 12px 0;

  @media (max-width: $mobile-width) {
    padding: 0 43px 0 5px;
  }
}
