.footer {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: $black-background;
  color: $white;
  padding: 90px 0 100px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 18px;
}

.footer__mailing {
  padding: 0 76px 0 0;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
  grid-template-rows: 1fr;
  column-gap: 20px;
  padding: 5px 0 0;
}

.footer__nav li {
  margin: 0 0 22px 0;
}

.footer__order-list {
  padding: 0;
}

.footer__about-list {
  padding: 0 0 0 40px;
}

.footer__socials-list {
  padding: 0 0 0 62px;
}

.footer__socials-list svg {
  margin: 0 12px 0 0;
}

.footer__socials-list li:first-child {
  padding: 0 0 0 5px;
}

.footer h2 {
  font-family: $font-family--title;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  margin: 0;
}

.footer p {
  font-weight: 400;
  color: $grey;
  margin: 10px 0 38px 0;
}

.footer ul {
  list-style: none;
  margin: 0;
}

.footer a {
  color: $white;
  text-decoration: none;
}

.footer__form {
  border-bottom: 1px solid $white;
  padding: 0 0 7px;
  display: flex;
  justify-content: space-between;
}

.footer__form label {
  font-size: 14px;
  color: $grey;
}

.footer__form input,
.footer__form button {
  background-color: inherit;
  border: none;
}

.footer button {
  padding: 2px 0;
}

.footer__form svg {
  transform: rotate(180deg);
  margin: 0 0 0 10px;
}
