.footer {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: $black-background;
  color: $white;
  padding: 90px 0 100px;

  @media (max-width: $tablet-width) {
    padding: 50px 0 100px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 18px;

  @media (max-width: $tablet-width) {
    grid-template-columns: none;
    row-gap: 40px;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    padding: 0 15px;
  }
}

.footer__mailing {
  padding: 0 76px 0 0;

  @media (max-width: $tablet-width) {
    padding: 0 117px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
  grid-template-rows: 1fr;
  column-gap: 20px;
  padding: 5px 0 0;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: none;
    padding: 46px 0 0;
    row-gap: 20px;
  }
}

.footer__nav li {
  margin: 0 0 21px 0;
}

.footer__order-list {
  padding: 0;
}

.footer__about-list {
  padding: 0 0 0 40px;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer h2 {
  font-family: $font-family--title;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  margin: 0;

  @media (max-width: $mobile-width) {
    padding: 0 50px 0 0;
  }
}

.footer p {
  font-weight: 400;
  color: $grey;
  margin: 10px 0 38px 0;

  @media (max-width: $mobile-width) {
    margin: 14px 0 38px 0;
    padding: 0 50px 0 0;
  }
}

.footer ul {
  list-style: none;
  margin: 0;
}

.footer a {
  color: $white;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
}

.footer__form {
  border-bottom: 1px solid $white;
  padding: 0 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: $tablet-width) {
    padding: 0 0 9px;
  }

  @media (max-width: $mobile-width) {
    max-width: fit-content;
    padding: 0 0 8px;
  }
}

.footer__form label {
  font-size: 14px;
  color: $grey;
  min-width: 85px;
}

.footer__form input,
.footer__form button {
  background-color: inherit;
  border: none;
}

.footer__form input {
  color: $white;
  flex-grow: 1;
  padding: 0 10px;
  margin: 0 10px;

  @media (max-width: $mobile-width) {
    max-width: 32vw;
    padding: 0 5px;
    margin: 0;
  }
}

.footer button {
  padding: 2px 0;
  min-width: 103px;
}

.footer__form svg {
  transform: rotate(180deg);
  margin: 0 0 0 10px;
}

.footer__socials-list {
  padding: 0 0 0 62px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 4px 0 0;
    display: flex;
    align-items: baseline;
  }
}

.footer__socials-list li {
  @media (max-width: $mobile-width) {
    margin: 0 30px 0 0;
  }
}

.footer__socials-list li:first-child {
  padding: 0 0 0 5px;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__socials-list span {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__socials-list svg {
  margin: 0 12px 0 0;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.footer__facebook {
  width: 12px;
  height: 21px;
}

.footer__instagram,
.footer__pinterest {
  width: 20px;
  height: 21px;
}

.footer__twitter {
  width: 20px;
  height: 18px;
}
