.modal-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.modal-card > div:first-child {
  border-bottom: 1px solid red;
}

.modal-card__center {
  padding: 0 30px;
}


.modal-card__row {
  display: flex;
  justify-content: space-between;

}

