.modal {
  background: $grey-background;
  box-shadow: 0 5px 32px $shadow;
  height: 100%;

  &--js {
    height: 586px;
    max-height: 100%;
    width: 430px;
    max-width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: auto;
  }
}

.modal__wrapper {
  padding: 22px 45px;

  @media (max-width: $mobile-width) {
    padding: 22px 25px;
  }
}

.modal__header {
  width: 100%;
  height: 138px;
  background-image: url("../img/backgrounds/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.modal h2 {
  text-align: center;
}

.modal form {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: flex;
  border-bottom: 1px solid $black;
  padding: 5px 0 8px;
  margin: 0 0 30px;

  &--password {
    margin: 0;
  }
}

.modal input {
  flex-grow: 1;
  padding: 0 10px;
  margin: 0 0 0 10px;
  background: none;
  border: none;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.modal__note {
  font-size: 12px;
  line-height: 18px;
  color: $grey;
  background: none;
  border: none;
  align-self: flex-end;
  margin: 0 0 40px;
  padding: 5px 10px;
}

.modal__log-in {
  font-size: 16px;
  line-height: 21px;
  color: $white;
  background-color: $brown;
  border: none;
  padding: 24px 0;
  margin: 0 0 15px 0;
}

.modal__block-sign-up {
  display: flex;
  align-self: center;
}

.modal__sign-up {
  background: none;
  border: none;
  color: $black;
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}
