.page-body {
  font-family: $font-family--title;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $black;
}

.page-body .main {
  flex-grow: 1;
}

.page-body h2 {
  font-family: $font-family--title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}
