.questions {
  padding: 27px 0 72px;

  @media (max-width: $tablet-width) {
    padding: 41px 0 35px;
  }

  @media (max-width: $mobile-width) {
    padding: 31px 0 23px;
  }
}

.questions h2 {
  letter-spacing: 0.03em;
  text-align: center;
  margin: 28px 0 48px;

  @media (max-width: $mobile-width) {
    margin: 28px 0 28px;
  }
}

.questions h3 {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 18px 0 0;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 7px;
    margin: 18px 0 26px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 22px;
    margin: 18px 0 12px;
    padding: 0 38px 0 5px;
  }
}

.questions p {
  font-family: $font-family--description;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 8px 0 10px;
  padding: 0 10px 6px 8px;
  max-width: 540px;

  @media (max-width: $tablet-width) {
    margin: 8px 0 15px;
    max-width: 560px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 20px;
    padding: 0 40px 0 4px;
    margin: 8px 0 19px;
  }
}

.questions__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 120px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.questions__list li {
  position: relative;
  min-height: 112px;
  border: 1px solid $brown;
  padding: 25px 42px 23px;

  @media (max-width: $tablet-width) {
    padding: 25px 42px 19px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px 0 19px;
    min-height: 82px;
  }
}

.questions__list li:not(:last-child) {
  border-bottom: none;
}

.questions button {
  top: 48px;
  right: 45px;

  @media (max-width: $mobile-width) {
    top: 21px;
    right: 22px;
  }
}
