.range {
  display: flex;
  flex-direction: column;
}

.range__controls {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;
  height: 18px;
}

.range__scale {
  width: 205px;
  height: 1px;
  background-color: $grey-background;
}

.range__bar {
  width: 50%;
  height: 1px;
  margin: 0 auto;
  background-color: $brown;
}

.range__toggle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: $brown;
  border-radius: 50%;

  &--min {
    left: 22%;
  }

  &--max {
    left: 75%;
  }
}

.range__price-controls {
  display: flex;
  justify-content: space-between;
  padding: 0 31px 0 61px;
}

.range__price-controls label {
  margin: 0;
}

.range__price-controls input[type="number"] {
  width: 41px;
  height: 26px;
  text-align: center;
  color: inherit;
  border-radius: 2px;
  border: none;
}
