.range {
  display: flex;
  flex-wrap: wrap;
}

.range__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // width: 260px;
  // height: 80px;
  background-color: var(--background-grey);
  // border-radius: 3px;
}

.range__scale {
  width: 205px;
  height: 2px;
  background-color: $grey-background;
}

.range__bar {
  width: 64%;
  height: 2px;
  background-color: $brown;
}

.range__toggle {
  width: 15px;
  height: 15px;
  background-color: $brown;
  border-radius: 50%;

  &--min {
    position: absolute;
    left: 7%;
  }

  &--max {
    position: absolute;
    left: 61%;
  }
}

.range__price-controls {
  // width: 260px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  line-height: 22px;
  // color: var(--dark-text);
}

.range__price-controls label {
  margin: 0;
}

.range__price-controls input[type="number"] {
  width: 66px;
  height: 38px;
  // background-color: var(--background-grey);
  border: none;
  text-align: center;
  margin-top: 14px;
  margin-left: 8px;
  padding: 0;
  padding-left: 14px;
  border-radius: 3px;
}
