.slider {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  max-width: 1210px;
  margin: 0 auto;
  padding: 90px 20px 92px;

  @media (max-width: $tablet-width) {
    padding: 42px 45px;
    width: 768px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    padding: 32px 0 37px;
    width: 290px;
  }
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.slider h2 {
  text-align: center;
  margin: 28px 0 25px;

  @media (max-width: $tablet-width) {
    margin: 28px 0 21px;
  }
}

.slider p {
  text-align: center;
}

.slider a {
  text-decoration: none;
  color: inherit;
}

.slider__container-title a {
  color: inherit;
  border-bottom: 1px solid $brown;

  &:hover {
    color: $grey;
    border-color: $black;
  }
}

.slider button {
  color: $brown;
}

.slider__prev,
.slider__next {
  border: none;
  background: none;
  position: absolute;
  padding: 0;
  top: 67px;

  &:hover {
    color: $black;
    background-color: $border;
  }

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  @media (max-width: $tablet-width) {
    padding: 4px 0 0;
    top: 65px;
  }
}

.slider__prev {
  left: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__next {
  right: 0;

  @media (max-width: $tablet-width) {
    right: 0;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__next svg {
  transform: rotate(180deg);
  width: 35px;

  @media (max-width: $tablet-width) {
    width: 35px;
    height: 15px;
  }
}

.slider__prev svg {
  @media (max-width: $tablet-width) {
    width: 35px;
    height: 15px;
  }
}

.slider__list {
  list-style: none;
  margin: 0;
  display: flex;
  transition: all ease 1s;
  padding: 44px 0 53px;

  @media (max-width: $tablet-width) {
    padding: 37px 0 44px;
  }

  @media (max-width: $mobile-width) {
    padding: 27px 0 33px;
  }
}

.slider .swiper-slide {
  margin: 0 30px 0 0;
}

.slider__list figure {
  margin: 0;

  @media (max-width: $mobile-width) {
    max-width: 130px;
  }
}

.slider__list img {
  object-fit: cover;
  width: 270px;
  max-width: 100%;
  height: auto;
  display: block;

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}

.slider__list figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 5px 1px;

  @media (max-width: $mobile-width) {
    padding: 15px 0 0;
  }
}

.slider__list span:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.slider__list span:first-child {
  margin: 0 0 5px;
}

.slider__list-pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider__list-pages li:not(:last-child) {
  margin: 0 13px 0 0;
}

.slider__list-pages button {
  border: none;
  background: none;
  color: $grey;

  &:active {
    color: inherit;
  }
}

.slider__pagination {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.slider .swiper-pagination-fraction span {
  @media (max-width: $mobile-width) {
    margin: 0 10px 0 10px;
  }
}

.slider .swiper-pagination-bullet {
  font-size: inherit;
  line-height: inherit;
  color: $grey;
  text-align: center;
  min-width: 23px;
  height: 23px;
  background: none;
  cursor: pointer;
  padding: 1px;

  &:hover {
    background-color: $border;
    color: $black;
    border-radius: 5px;
  }
}

.slider .swiper-pagination-bullet:not(:last-child) {
  margin: 0 15px 0 0;
}

.slider .swiper-pagination-bullet-active {
  color: inherit;
  background: none;
  cursor: auto;

  &:hover {
    background: none;
  }
}
