.slider {
  font-family: $font-family--description;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 91px 0;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider h2 {
  text-align: center;
  margin: 28px 0 25px;
}

.slider p {
  text-align: center;
}

.slider a {
  text-decoration: none;
  color: inherit;
}

.slider__container-title a {
  color: inherit;
  border-bottom: 1px solid $brown;
}

.slider button {
  color: $brown;
}

.slider__prev,
.slider__next {
  border: none;
  background: none;
  position: absolute;
  padding: 0;
  top: 67px;
}

.slider__prev {
  left: 20px;
}

.slider__next {
  right: 20px;
}

.slider__next svg {
  transform: rotate(180deg);
  width: 35px;
}

.slider__list {
  list-style: none;
  margin: 0;
  display: flex;
  transition: all ease 1s;
  padding: 44px 0 53px;
}

.slider__list li {
  margin: 0 30px 0 0;
}

.slider__list figure {
  margin: 0;
  width: 270px;
}

.slider__list img {
  object-fit: cover;
  height: 284px;
}

.slider__list figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px 0;
}

.slider__list span:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.slider__list span:first-child {
  margin: 0 0 5px;
}

.slider__list-pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider__list-pages li:not(:last-child) {
  margin: 0 13px 0 0;
}
