//fonts

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/cormorant-garamond-600.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-600.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/cormorant-garamond-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-700.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/cormorant-garamond-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/poppins-bold.woff2") format("woff2"),
    url("../fonts/poppins-bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/poppins-medium.woff2") format("woff2"),
    url("../fonts/poppins-medium.woff") format("woff");
}
