// Colors

$brown: #a87b62;
$border: #f6f5f4;
$grey: #9b9997;
$black: #1d1613;
$white: #ffffff;
$white-015: rgba(255, 255, 255, 0.15);
$white-075: rgba(255, 255, 255, 0.75);

// Font

$font-family--title: "Cormorant Garamond", "Arial", sans-serif;
$font-family--description: "Poppins", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;

//resolution

$dppx: 2dppx;
$dpi: 192dpi;

/*

@media (max-width: $tablet-width) {

}

*/
/*

@media (max-width: $mobile-width) {

}

*/
