// Colors

$brown: rgba(168, 123, 98, 1);
$border: rgba(246, 245, 244, 1);
$grey: #9b9997;
$black: #1d1613;
$white: #ffffff;

// Font

$font-family--title: "Cormorant Garamond", "Arial", sans-serif;
$font-family--description: "Poppins", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;

//resolution

$dppx: 2dppx;
$dpi: 192dpi;
