// Colors

$brown: rgba(168, 123, 98, 1);
$border: rgba(246, 245, 244, 1);

// Font

$font-family--title: "Cormorant Garamond", "Arial", sans-serif;
$font-family--description: "Poppins", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;
// $desktop: 1300px;

//Center desktop

$center: 1170px;
